@inherits LayoutComponentBase
<link href="Risk.Server.styles.css" rel="stylesheet">
<div class="page">
    <div class="main">
        <div class="content px4">
            @Body
        </div>
    </div>
</div>